/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 déc. 2021, 11:16:50
    Author     : hzedouti
*/



body {
  
}

.ouais{
    background-image: url("télé.png") ;
    background-size: 100%;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: white;
}